* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(125deg, #0f0c29, #302b63, #24243e);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.pricing-table {
  background: #f1f1f1;
  flex: 1;
  margin: 10px;
  text-transform: uppercase;
}

.pricing-header {
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.price {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.price span {
  font-size: 30px;
}

.title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.pricing-list {
  padding: 10px 20px;
}

.pricing-list li {
  margin: 8px 0;
  font-size: 14px;
  color: #000303;
  text-align: center;
}

.border {
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  border: 1px solid;
  max-width: 360px;
  transition: 0.2s linear;
}

.pricing-table a:hover {
  border-radius: 30px;
}

.table1 .pricing-header {
  background: #2980b9;
}

.table2 .pricing-header {
  background: #2c3e50;
}

.table3 .pricing-header {
  background: #c0392b;
}

.table4 .pricing-header {
  background: #fdbb2d;
}

.table5 .pricing-header {
  background: #ff9966;
}

.table6 .pricing-header {
  background: #159957;
}

.table7 .pricing-header {
  background: #000000;
}

.table8 .pricing-header {
  background: #000000;
}

.table1 .title {
  background-image: linear-gradient(125deg, #3498db, #9b59b6);
}

.table2 .title {
  background-image: linear-gradient(125deg, #34495e, #95a5a6);
}

.table3 .title {
  background-image: linear-gradient(125deg, #e74c3c, #f39c12);
}

.table4 .title {
  background-image: linear-gradient(125deg, #f8ffae, #fdbb2d);
}

.table5 .title {
  background-image: linear-gradient(125deg, #ff5e62, #ff9966);
}

.table6 .title {
  background-image: linear-gradient(125deg, #155799, #159957);
}

.table7 .title {
  background-image: linear-gradient(125deg, #eb5757, #000000);
}

.table8 .title {
  background-image: linear-gradient(125deg, #eb5757, #000000);
}

.table1 a {
  color: #2980b9;
}

.table2 a {
  color: #2c3e50;
}

.table3 a {
  color: #c0392b;
}

.table4 a {
  color: #fdbb2d;
}

.table5 a {
  color: #ff9966;
}

.table6 a {
  color: #159957;
}

.table7 a {
  color: #000000;
}

.table8 a {
  color: #000000;
}

.table1 a:hover {
  background: #2980b9;
  color: #fff;
}

.table2 a:hover {
  background: #2c3e50;
  color: #fff;
}

.table3 a:hover {
  background: #c0392b;
  color: #fff;
}

.table4 a:hover {
  background: #fdbb2d;
  color: #fff;
}

.table5 a:hover {
  background: #ff9966;
  color: #fff;
}

.table6 a:hover {
  background: #159957;
  color: #fff;
}

.table7 a:hover {
  background: #000000;
  color: #fff;
}

.table8 a:hover {
  background: #000000;
  color: #fff;
}

.pricing-list li:hover {
  background: none;
}

@media screen and (max-width: 780px) {
  .pricing-table {
    flex: 100%;
  }

  .pricing-list li {
    display: none;
  }

  .pricing-list {
    display: none;
  }
}