body {
  margin: 0;
  padding: 0;
  background: url("../images/login_background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

.login-box {
  width: 320px;
  height: 320px;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 2%;
}

.login-box h1 {
  text-align: center;
  font-size: 40px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txtb {
  position: relative;
  margin: 35px auto;
}

.txtb input {
  font-size: 20px;
  text-align: center;
  color: white;
  border: none;
  width: 96.5%;
  outline: none;
  background: none;
  padding: 0 5px;
}

.login-button {
  border-radius: 10px;
  display: block;
  border: none;
  background: linear-gradient(to right, #23074d, #8a2387, #e94057);
  margin: 10px auto;
  width: 150px;
  height: 25px;
  color: white;
}

.ref1 {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  padding: 6px 0;
  text-decoration: none;
  margin: auto;
  font-size: 13px;
  color: white;
  text-align: center;
}

a:hover {
  background: linear-gradient(to right, #23074d, #8a2387, #e94057);
}