@import "colors"
    
@mixin frame()
    height: 60px
    width: 100%

*
    margin: 0
    padding: 0
    text-decoration: none
    list-style: none
    box-sizing: border-box
    
body 
    margin: 0
    padding: 0
    font-family: sans-serif

.navigation
    @include frame()
    background: $footer_nav
    

.navigation ul
    float: right
   
.navigation ul li
    display: inline-block
    line-height: 60px
    margin: 0 5px
    width: 100px
    text-align: center

ul li:hover
   background: linear-gradient(to right,#23074d, #8a2387, #e94057)

.navigation ul li a
    text-decoration: none
    color: $text
    text-transform: uppercase 
    font-weight: bold 

ul li:hover a 
    color: $footer_nav

label.logo
    background: linear-gradient(to right,$grad1, $grad2, $grad3)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 40px
    line-height: 60px
    font-weight: bold 
    margin-left: 60px

.back
    background: url(../images/home_back.jpg) no-repeat
    background-size: cover
    height: calc( 100vh - 60px )
    bottom: 80px

.text-box
    width: 320px
    height: 320px
    background: rgba(0, 0, 0, 0.9)
    top: 50%
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)
    box-sizing: border-box
    border-radius: 2%
    justify-content: center
    align-items: center
    text-align: center

.text-box p 
    color: $text
    background: linear-gradient(to right,$grad1, $grad2, $grad3)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 40px
    font-style: italic
    font-weight: bold 
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    
.footer
    @include frame()
    position: fixed
    left: 0
    bottom: 0
    background-color: $footer_nav
    color: $text
    text-align: center

.footer p 
    text-align: center
    line-height: 60px
    
@media ( max-width: 700px )
    .navigation
         text-align: center
    
    label.logo 
        margin-left: 0px
      
    ul 
        position: fixed
        width: 100%
        height: 100vh
        top: 60px
        left: 0    

    .navigation ul li 
        display: inline-block
        
    .navigation ul li a 
        font-size: 15px 

    .text-box
        width: 100%
        height: calc( 100vh - 238px )
        border-radius: 0

    .text-box p 
        font-size: 20px
        

     




